
.container {
  margin: auto;
}
div.header {

}
#h31 {
  margin-bottom: 25px;
}
.name {
  font-size: 500%;
}

.body {
  background-image: url("clouds.jpg");

}

a {
  font-size: 200%;
}
.profileImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 20px;

}

#fullStack {
  text-align: center;
}

.loading {
  text-align: center;
}

div#divText {
  float: right;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 170%;
  text-align: left;

}

h3 {
  font-family: 'Roboto Slab', serif;

}

h2 {
  text-align: center;
}

h1 {
  font-size: 180%;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 175%;

}

.name {
  text-align: center;
  font-family: 'Roboto Slab', serif;

}

.about {
  font-family: 'Raleway', sans-serif;
}

h3.title-center {
  text-align: center;
}

h4 {
  font-size: 250%;
}

#linkedInLogo {
  margin-left: 20px;
}

#phoneIcon {
  margin-left: 20px;
}

#phoneNumber {
  display: inline-block;
}

#emailIcon {
  display: inline-block;
  margin-left: 20px;
}

#linkedInP {
  display: inline-block;
}

div.progress {
  display: block;
}

#email {
  display: inline-block;
}

div#footer {
  clear: both;
  margin-top: 20px;
  display: inline;
}

div.col-sm-6 {
  text-align: center;
}
